@model IEnumerable<CommunityConnections.Models.Alert>

<div class="container">
    @Html.Partial("_ViewAlertsPartial", Model)
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}